<h2> Animalia: </h2>

<% @animals.each do |a| %>
  <ul>
    <li>
      <h3><%= link_to "#{a.name}", animal_path(a.id) %><h3>
    </li>
    <ul>
      <li>
        <h3>Species: <%= a.species %> </h3>
      </li>
      <li>
        <h3> Age: <%= a.age %> </h3>
      </li>
      <li>
        <h3> <%= link_to "Edit animal", animal_edit_form_path(a.id) %></h3>
      </li>
    </ul>
  </ul>
<% end %>

<button>
  <%= link_to "Create Animal", animal_form_path %>
</button>
